@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #31C3FF 0%, #BC35FE 100%);;
}

.box {
  width: 320px;
  height: 320px;
  background-color: #000038;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 100%;
  height: auto;
}

.h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}